* {
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 100vh;

    margin: 0;
}

.card-container {
    background-color: #353b48;
    border-radius: 5px;
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #b3b8cd;
    padding-top: 30px;
    width: 350px;

    max-width: 100%;
    text-align: center;
    position: relative;
}

.info {
    border: 1px solid #7195c8;
    display: inline-block;
    border-radius: 2px;
    padding: 7px;
    margin: 0 7px 7px 0;
    padding: 15px;
    margin-top: 15px;
    /* background-color: #0854f8; */

}

.pro {
    color: black;
    background-color: red;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    margin: -15px -90px;
}

.online {
    background-color: rgb(50, 255, 47);
}

.offline {
    background-color: rgb(255, 42, 0);
}

.img {
    border-radius: 50%;
    border: 3px solid #fff;
    padding: 9px;
    width: 150px;
    height: 150px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button.msg {
    background-color: #0984e3;
    border: 1px solid #0984e3;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    padding: 5px 15px;
}

button.msg.outline {
    background-color: transparent;
}

.skills {
    background-color: #3c4858;
    text-align: left;
    padding: 15px;
    margin-top: 15px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills ul li {
    border: 1px solid #7195c8;
    display: inline-block;
    border-radius: 2px;
    padding: 7px;
    margin: 0 7px 7px 0;
    font-size: 14px;
}